<h2 mat-dialog-title>Create New Task</h2>

<mat-form-field>
      <mat-label>Task Name</mat-label>
      <input matInput [(ngModel)]="name">
</mat-form-field>
<br/>
<mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="description"></textarea>
</mat-form-field>
<br/>
<mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput type="date" [(ngModel)]="startDate">
</mat-form-field>
<br/>
<mat-form-field>
      <mat-label>End Date</mat-label>
      <input matInput type="date" [(ngModel)]="endDate">
</mat-form-field>
<br/>
<mat-form-field>
    <mat-select placeholder="Assignee" [(ngModel)]="assignee">
        <mat-option *ngFor="let user of data.users" [value]="user[1]">
        {{ user[0] }}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>