.newProjectButtonDiv{
    text-align: center;
}

.newProjectButton{
    margin-top: 5%;
}

table {
    width: 100%;
    
}

.dashboardTableDiv{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;

}